pkg/*
doc/*
coverage/*
tags
lib/libsql/1.8
lib/libsql/1.9
lib/libsql/2.*
lib/libsql/3.*
ext/libsql/c/Makefile
ext/libsql/c/rbconfig.rb
ext/libsql/c/*.def
ext/libsql/c/*.log
examples/*.db
tmp/*
*~
*.swp
email.txt
spec/data/*.db
*.bundle
*.so
*.o
.gem/
vendor/
.byebug_history
