pkg/*
doc/*
coverage/*
tags
lib/libsql/1.8
lib/libsql/1.9
lib/libsql/2.*
lib/libsql/3.*
ext/libsql/Makefile
ext/libsql/rbconfig.rb
ext/libsql/*.def
examples/*.db
tmp/*
*~
*.swp
email.txt
spec/data/*.db
*.bundle
.gem/
vendor/
.byebug_history
